/* ======================================
Responsive Image gallery Style rules
======================================*/

.container {
  padding: 25px;
  box-sizing: border-box;
  width:96%;
  margin-left:2%;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  box-sizing: border-box;
}

.heading-text span {
  font-weight: 100;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding:0;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
}

.image-gallery > li {
  flex: 1 1 auto; /* or flex: auto; */
  height: auto;
  cursor: pointer;
  position: relative;
  max-width:450px;
  box-sizing: border-box;
  min-width:300px;
  width:24%;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
  box-sizing: border-box;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
  box-sizing: border-box;
}
@media screen and (min-width: 1300px) {
  .image-gallery > li {
    width:24%;
    max-width:450px;
    min-width:300px;
  }
}
@media screen and (max-width: 1300px) {
  .image-gallery > li {
    width:32%;
    max-width:450px;
    min-width:300px;
  }
}
@media screen and (max-width: 1030px) {
  .image-gallery > li {
    width:49%;
    max-width:450px;
    min-width:300px;
  }
}
@media screen and (max-width: 710px) {
  .image-gallery > li {
    width:99%;
    max-width:unset;
    min-width:unset;
  }
}
