*{
  margin:0;
}
.cover{
  width:100%;
  height:100vh;
  background-image:url("../images/bangkok-thailand-temple-26696.jpg");
  background-position: center;
  background-size: cover;
}
header{
  width:100%;
  height:16vh;
  position:relative;
  background-color: rgb(28, 54, 100, 1);
}
.navdropdown{
  width:auto;
  height:auto;
}
.dropdown{
  display:none;
}
.nav-bar{
  display: inline;
  float:right;
  width:798px;
}
.nav-bar a{
  float:right;
  font-family:"Montserrat-Regular";
  color:white;
  font-size:20px;
  padding: 5px 15px 5px 15px;
  margin-top: 35px;
  text-decoration: none;
}
/* Dropdown Button */
.navdropbtn {

}
/* Dropdown Content (Hidden by Default) */
.navdropdown-content {
  display: none;
  position: absolute;
  background-color: #1C3664;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  float:right;
  margin-left: 285px;
  margin-top: 65px;
}

/* Links inside the dropdown */
.navdropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float:none;
  margin-top: 0;
}
.nav-bar a:hover{
    color:#ffd084;
}
/* Change color of dropdown links on hover */
.navdropdown-content a:hover {
  background-color: RGB(255, 208, 132, .3);
  color:#ffd084;
}
/* Show the dropdown menu on hover */
.navdropdown:hover .navdropdown-content {
  display: block;
}
.narrow-center{
  width: 60%;
  margin-left: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.navdropdown:hover .navdropbtn {
  color:#ffd084;
}
.visitbtn{
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-right: 20px;
}
/* Dropdown Button */
.wide-screen{
  height:300px;
  width:100%;
  background-color: #1C3664;
  display:flex;
  flex-flow: column;
  color:white;
}
.narrow-screen{
  height:auto;
  width:100%;
  background-color: #1C3664;
  display:relative;
  color:white;
  text-decoration: none;
}
.narrow-screen hr{
  border-color:transparent;
}
.footer-seperator{
  display:flex;
  flex-flow: row;
  align-items: center;
}
.footer-1{
  width:31%;
  height:175px;
  padding-top:50px;
}
.footer-1 p{
  font-family:"Montserrat-Regular";
}
.footer-2{
  width:23%;
  height:175px;
  padding-top:50px;
}
.footer-2 p{
  font-family:"Montserrat-Regular";
  text-align: left;
}
.footer-3{
  width:23%;
  height:175px;
  padding-top:50px;
}
.footer-3 p{
  font-family:"Montserrat-Regular";
  text-align: left;
}
.footer-4{
  width:23%;
  height:175px;
  padding-top:50px;
}
.footer-4 p{
  font-family:"Montserrat-Regular";
  text-align: left;
}
.footer-5{
  width:100%;
  height:50px;
  background-color:#244480;
  margin-top:25px;
}
.footer-5 p{
  font-family: "Montserrat-Regular";
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  padding-top: 16px;
}
.footer-link{
  color:rgba(255,255,255,0.38);
  font-family:"Montserrat-Regular";
  font-size: 14px;
}
.social-box{
  background-color: rgba(255,255,255,0.21);
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  width: 22px;
  text-align: center;
}
.social-box:hover{
  background-color:white;
}
.social-box:hover i{
  color:#1C3664;
}
.social-box i{
  font-size:20px;
  color:white;
}
.divider-div{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-width{
  width:70%;
  margin-left:15%;
  text-align:center;
  padding-bottom:15px;
}
.link{
  color: #4B74BF; /*#1C3664*/
  text-decoration: none;
}
.link:hover{
  color:#ffd084;
}
.divider-div div{
  height: 3.5px;
  background-color: #ffd084;
  width: 6%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1040px) {
  .dropdown {
    display:none;
  }
  .nav-bar{
    display: inline;
  }
  .wide-screen{
    display:relative;
  }
  .narrow-screen{
    display: none;
  }
}

@media screen and (max-width: 1040px) {
  .nav-bar{
    display:none;
  }

  /* Dropdown Button */
  .dropbtn {
    float: right;
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 40px;
    border: none;
    margin-right: 2vh;
    margin-top: 2vh;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: table;
    height: 100%;
    width: 160px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C3664;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-top: 90px;
    margin-left: -2vh;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: RGB(255, 208, 132, .3);
    color:#ffd084;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgba(0,0,0,0.2);}

  .wide-screen{
    display:none;
  }
  .narrow-screen{
    display: relative;
  }
}

/* Cover Photo items*/
.cover-light{
  width: 100%;
  height: 62%;
  position: absolute;
  margin-top: 38vh;
  background-image:url("../images/gradientBackdrop.png");
  background-repeat: no-repeat;
}
.cover-invite{
  position: relative;
  display: block;
  height: 150px;
  padding-top: 200px;
  padding-left: 50px;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body{
  position: absolute;
  width:100%;
  height:100%;
  display:block;
}
.cover-image{
  height: inherit;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top;
}
.section{
  height:auto;
  width:100%;
  background-color: white;
  position: relative;
  padding-top:30px;
  padding-bottom: 30px;
}
.section2{
  height:auto;
  width:100%;
  background-color: #F4F5F7;
  position: relative;
  padding-top:30px;
  padding-bottom: 30px;
}
@font-face {
  font-family: "Montserrat-Regular";
  src:url("../fonts/english/Montserrat-Regular.ttf") format("truetype");
}
/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/english/playfair-display-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/english/playfair-display-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/english/playfair-display-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/english/playfair-display-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/english/playfair-display-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/english/playfair-display-v30-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
@font-face{
  font-family: "RobotoSlab-Regular";
  src:url("../fonts/english/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Inconsolata-Regular";
  src:url("../fonts/english/Inconsolata-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "EBGaramond-Regular";
  src:url("../fonts/english/EBGaramond-Regular.ttf") format("truetype");
}
.church-name{
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
}
.temple-name{
  font-weight: bold;
  font-size: 30px;
  color: #1C3664;
  padding-top: 15px;
}
.announcement{
  padding-top: 15px;
  font-family:  "Montserrat-Regular";
  margin-left:20%;
  width:60%;
}
p{
  font-family: "Montserrat-Regular";
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.subscribe-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  font-size:20px;
}
.subscribe-btn hr{
  width:100%;
  height:10px;
  border:0;
}
.footer-2 hr{
  width:100%;
  height:10px;
  border:0;
  margin:0;
}
.footer-3 hr{
  width:100%;
  height:10px;
  border:0;
  margin:0;
}
.footer-4 hr{
  width:100%;
  height:10px;
  border:0;
  margin:0;
}
.subscribe-p{
  padding-top:25px;
}
#email{
  width: 35%;
  justify-content: center;
  align-items: center;
  margin-top:15px;
  font-size:20px;
  font-family: "Montserrat-Regular";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 415px;
}
#email input{
  font-size:20px;
  font-family: "Montserrat-Regular";
}
#email2{
  width: 77%;
  justify-content: center;
  align-items: center;
  margin-top:15px;
  font-family:"Montserrat-Regular";
  font-size:15px;
  padding-top:10px;
  padding-bottom:10px;
}
.submit-btn{
  background-color:#1C3664;
  border-color:#ffd084;
  border-style:solid;
  border-width:2px;
  color:white;
  font-family: "Montserrat-Regular";
  font-size:16px;
  padding: 5px 20px 5px 20px;
}
.temp-filler{
  height:600px;
}
.section-header{
  font-family:"Playfair Display";
  font-size:36px;
  font-weight: normal;
  padding-bottom:10px;
  padding-top:10px;
}
.sub-heading{
  font-family:"Playfair Display";
  font-size:30px;
  font-weight: normal;
  margin-bottom:20px;
}
.circle-christ{
  height:200px;
  width:200px;
  margin-left: calc(50% - 100px);
}
.section2 hr{
  width:100%;
  height:10px;
  border:0;
}
.footer-2 a{
  text-decoration:none;
}
.footer-3 a{
  text-decoration:none;
}
.footer-4 a{
  text-decoration:none;
}
.quote{
  width:60%;
  margin-left: 20%;
}
.narrow-center a{
  text-decoration:none;
}
.sector-boxes{
  width:200px;
  height:200px;
  margin: 5px 5px 5px 5px;
  background-size: cover;
  background-position: center;
}
.box-sector{
  width:100%;
  display:flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
}
.box-btn{
  width: 50%;
  margin-left: 25%;
  height: 44px;
  margin-top: 72.5px;
  display: block;
  text-align: center;
  border-width: 3px;
  border-color: palegoldenrod;
  border-style: solid;
  background-color: #1C3664;
  padding-top: 5px;
  color:white;
  font-family: "Montserrat-Regular";
}
.box-btn:hover{
  background-color: rgba(11,21,39, .6)
}
.video-player{
  width:96%;
  max-width: 1120px;
  align-self: center;
  height:630px;
}
.section2 p{
  text-align:center;
}
.not-official{
  width: 80%;
  margin-left: 10%;
  font-size: 12px;
  margin-top: 15px;
}
.footer-header{
  color:white;
  text-decoration:none;
}
.social-div{
  display:flex;
  flex-flow:row;
  align-items:center;
  margin-left:35px;
  /* margin-top:15px; */
}
.nav-bar .visitbtn:hover{
  color:#1C3664;
  background-color: white;
}
.video-frame{
  margin-left: 10%;
  padding-bottom: 15px;
  max-width: 1120px;
  max-height: 630px;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 1400px) {
  .video-frame{
    margin-left:calc(((100% - 1120px) / 2));
  }
}

@media screen and (max-width: 1400px) {
  .video-frame{
    margin-left:10%;
  }
}
.map-frame{
  margin-left: 20%;
  padding-bottom: 15px;
  max-width: 900px;
  max-height: 675px;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 1400px) {
  .map-frame{
    margin-left:calc(((100% - 900px) / 2));
  }
}

@media screen and (max-width: 1400px) {
  .map-frame{
    margin-left:20%;
  }
}
.learn-more{
  color:#1c3664;
}
.learn-more:hover{
  color:#ffd084;
}
.button-boxer{
  background-color: #1C3664;
  border-width: 2px;
  border-style: solid;
  border-color:#ffd084;
  width:fit-content;
  padding: 10px 0px 10px 0px;
  margin-left:calc((100% - 352px)/2);
}
.button-boxer btn{
  color:white;
  font-family:"Montserrat-Regular";
  padding: 0 30px 0 30px;
  font-size: 16px;
}
.button-boxer btn:hover{
  color:#ffd084;
  background-color:rgba(255,255,255,0.15);
  padding-top: 10px;
  padding-bottom:10px;
}
.media-header{
  padding-top:10px;
  padding-bottom:10px;
  background-color: #F4F5F7;
}
.recentNews {
    background-color: white;
}
.recentNews .news-title {
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size:55px;
    font-weight:bold;
    color: #fff;
}
.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 94%;
    margin-left: 3%;
    max-width: 1080px;
}
.recentNews .ct-blog {
    margin-bottom: 45px;
    width: 32%;
    max-width: 345px;
    min-width: 300px;
}
.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ct-blog .inner:hover {
    background-color: #e6e6e6;
}
.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
}
.ct-blog .fauxcrop img {
    width: 100%;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid #95A5A6;
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: rgb(20, 117, 175);
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: rgb(20, 117, 175);
}
.ct-blog-content .ct-blog-header {
    color: #000;
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color: #fff;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: #000;
}
.news-link:hover{
  text-decoration: none;
}
.news-link{
  text-decoration: none;
}
@media screen and (min-width: 1150px) {
  .recentNews .row {
    margin-left:calc(((100% - 1080px) / 2));
  }
  .recentNews .ct-blog {
      width: 32%;
      max-width: 345px;
      min-width: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .recentNews .row {
      margin-left: 3%;
      width:94%;
  }
  .recentNews .ct-blog {
      width: 32%;
      max-width: 345px;
      min-width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .recentNews .row {
    margin-left: 13%;
    width: 74%;
  }
  .recentNews .ct-blog {
      width: 48%;
      max-width: 345px;
      min-width: 300px;
  }
}
@media screen and (max-width: 850px) {
  .recentNews .row {
    margin-left: 5%;
    width: 90%;
  }
  .recentNews .ct-blog {
      width: 48%;
      max-width: 345px;
      min-width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .recentNews .row {
    margin-left: calc(((100% - 345px) / 2));
    width: 90%;
  }
  .recentNews .ct-blog {
      width: 345px;
      max-width: 345px;
      min-width: 345px;
  }
}
.small-screen{
  display:none;
  margin-top:50px;
  width:94%;
  margin-left:3%
}
@media screen and (min-width: 300px) {
  footer{
    display:block;
  }
  header{
    display:block;
  }
  .body-content{
    display:block;
  }
  .small-screen{
    display:none;
  }
}
@media screen and (max-width: 300px) {
  footer{
    display:none;
  }
  header{
    display:none;
  }
  .body-content{
    display:none;
  }
  .small-screen{
    display:block;
  }
}
